.check-content {
  width: 100%;
  bottom: 100px;
  color: #bfbfbf;
  position: fixed;
  transition: .3s;
  text-align: center;
  .load {
    cursor: pointer;
    transition: .3s;
    border-bottom: 1px solid #bfbfbf;
    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
  .logo {
    width: 70px;
    position: relative;
    display: inline-block;
    &:before {
      top: -64px;
      left: -8px;
      width: 70px;
      content: '';
      opacity: .5;
      height: 120px;
      position: absolute;
      background: url('/assets/images/logo-white-mark.svg') center center no-repeat;
      background-size: contain;

    }
  }
}
