:host {
  color: #fff;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    font-size: 70px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 100;
    line-height: 85px;
  }
  h2, p {
    font-weight: 100;
  }

  .button {
    margin-top: 50px;
  }
}
